* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Vazirmatn', sans-serif;
  background-color: #121212;
  color: #fff;
}

/* Sidebar */
.sidebar {
  width: 270px;
  background-color: #1f1f1f;
  height: 100vh;
  position: fixed;
  padding: 48px 32px 48px 64px;
  box-sizing: border-box;
  border-right: 2px solid #EE10B0;
}

.sidebar h1 {
  background: linear-gradient(to right, #EE10B0, #0E9EEF);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 32px;
  margin-bottom: 24px;
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 24px;
}

.sidebar ul li.menu-tab {
  color: #EE10B0;
  font-size: 12px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  margin-right: 10px;
}

.sidebar ul li a.active {
  color: #EE10B0;
}

.sidebar ul li a:hover {
  color: #EE10B0;
}

/* Sub content */
.sub-content {
  margin-left: 270px;
  padding: 26px 25px 48px 25px;
}

/* Header */
.arrow-icon {
  font-size: 24px;
  display: block;
  float: left;
}

.header {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 30px;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 28px 0 0;
  font-size: 16px;
}

.header nav a:hover {
  color: #EE10B0;
}

.auth-icon {
  font-size: 24px;
}

.arrow-icon a,
.auth-icon a {
  color: #fff;
  text-decoration: none;
}

.arrow-icon a:hover,
.auth-icon a:hover {
  color: #EE10B0;
}

/* Hero */
.hero {
  background: linear-gradient(to right, #1171E2 0%, #53ADD6 98%, #8BCBE7 100%);
  box-shadow: 3px 12px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px 25px 50px 25px;
  margin: 0 11px 0 33px;
  text-align: left;
  color: #fff;
  position: relative;
}

.hero .hero-content {
  width: calc(100% - 36px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 18px 0 18px;
}

.hero .hero-content img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 7px 9px 4px rgba(0, 0, 0, 0.35);
}

.hero .play-all {
  width: 130px;
  margin: 200px 0 0 200px;
}

.hero .play-all a {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
}

.hero .play-all p {
  font-size: 24px;
  color: #EE10B0;
}

.hero .play-all i {
  font-size: 48px;
  text-decoration: none;
  color: #EE10B0;
}

.hero .hero-content .album-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
}

.hero .hero-content .album-info .album-title {
  font-size: 40px;
  margin-bottom: 26px;
}

.hero .hero-content .album-info .album-title span {
  color: #EE10B0;
}

.hero .hero-content .album-info .album-desc {
  font-size: 20px;
  margin-bottom: 26px;
  line-height: 1.8;
}

.hero .hero-content .album-info .quantity {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 20px
}

.hero .hero-content .album-info .quantity .dot {
  color: #EE10B0;
}

.hero-content .song-img img {
  border-radius: 50%;
}

.hero-content .music-player {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.progress-bar {
  margin-top: 15px;
}

.hero-content .music-player .progress-bar input {
  width: 100%;
  color: #EE10B0;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: #EE10B0;
}

.controls i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #EE10B0;
  cursor: pointer;
  font-size: 20px;
}

.controls .inside {
  background: #630A4A;
}

.controls .large-inside {
  height: 60px;
  width: 60px;
  background: #630A4A;
}

.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.favorite.active {
  color: #ff007f;
}

#progressBar {
  width: 100%;
  appearance: none;
  background: #333;
  height: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

#progressBar::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff007f;
  cursor: pointer;
}

/* Section & Subhero */
.section,
.sub-hero-content {
  margin-left: 33px;
  margin-right: 11px;
}

.section .section-title,
.sub-hero-content .sub-hero-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.section h2 span,
.sub-hero-content h2 span {
  color: #EE10B0;
}

/* Song Section */
.section .songs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section .songs .song {
  width: 170px;
  padding: 8px 15px;
  text-align: center;
  background-color: #1F1F1F;
  border-radius: 10px;
}

.section .songs .song img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 16px;
}

.section .songs .song p {
  margin: 0;
}

.section .songs .song p.title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

.section .songs .song p.artist-name {
  color: #888;
  font-size: 12px;
}

/* Artist Section */
.section .artists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section .artists .artist {
  width: 150px;
  padding: 8px 15px;
  text-align: center;
}

.section .artists .artist img {
  width: 100%;
  border-radius: 100%;
  margin-bottom: 16px;
}

.section .artists .artist p {
  margin: 0;
}

.section .artists .artist p.title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

/* Video List */
.section .videos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section .videos .left-col {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 40px;
}

.section .videos .video {
  width: 280px;
  max-width: 280px;
  height: 250px;
  padding: 8px 15px;
  background-color: #1F1F1F;
  border-radius: 10px;
}

.section .videos .video img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.section .videos .video p {
  margin: 0;
}

.section .videos .video p.title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

.section .videos .video p.artist-name {
  color: #888;
  font-size: 12px;
  float: left;
}

.section .videos .video p.view-count {
  color: #888;
  font-size: 12px;
  float: right;
}

/* Music Genres */
.sub-hero-content .music-genres {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-hero-content .music-genres .genre {
  width: 280px;
  height: 250px;
  padding: 8px 15px;
}

.sub-hero-content .music-genres .genre img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.sub-hero-content .music-genres .genre p.title {
  font-weight: 500;
  font-size: 16px;
  margin: 0px 0px 8px 0px;
}

/* View All */
.section .view-all,
.sub-hero-content .view-all {
  color: #888;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section .view-all:hover,
.sub-hero-content .view-all:hover {
  color: #EE10B0;
}

.section .view-all .icon,
.sub-hero-content .view-all .icon {
  width: 62px;
  height: 62px;
  border-radius: 100%;
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Song List */
.section .song-list {
  width: 100%;
  border-spacing: 0 15px;
  padding: 18px 12px 160px 12px;
  opacity: 100%;
}

.section .song-list .song-list-header {
  font-size: 20px;
}

.section .song-list .song-item {
  font-size: 16px;
}

.section .song-list .song-item td:not(.song-index) {
  background-color: #1E1E1E;
}

.section .song-list .song-index {
  padding-right: 10px;
  background-color: transparent;
  font-size: 24px;
}

.section .song-list .song-infor {
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section .song-list .song-infor .song-name {
  font-size: 20px;
  font-weight: 500;
}

.section .song-list .song-infor .song-name .song-artist {
  font-size: 12px;
  font-weight: normal;
}

.section .song-list .song-time {
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section .song-list .song-infor img {
  margin-right: 18px;
  border-radius: 5px;
}

.section .song-list .song-infor .user-img {
  border-radius: 50%;
}

.section .btn-wrapper {
  margin-top: 8px;
  width: 100%;
  text-align: center;
}

.section .btn-wrapper .view-all-btn {
  background-color: #1E1E1E;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 5px;
}

.section .btn-wrapper .view-all-btn i {
  margin-right: 8px;
}

.section .btn-wrapper .view-all-btn:hover {
  background-color: #EE10B0;
}

.container {
  width: 100%;
  display: flex;
}

.container .left-col {
  width: 70%;
  border-right: 1px solid #EE10B0;
  margin: 20px 0;
}

.container .right-col {
  width: 30%;
  margin: 20px 0;
}

/* Artist Hero */
.artist-hero {
  background: linear-gradient(to right, #1171E2 0%, #53ADD6 98%, #8BCBE7 100%);
  box-shadow: 3px 12px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px 25px 50px 25px;
  margin: 0 11px 0 33px;
  text-align: left;
  color: #fff;
  position: relative;
  min-height: 300px;
}

.mb-160 {
  margin-bottom: 160px;
}

.artist-hero .artist-content {
  width: calc(100% - 36px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 18px 0 18px;
  position: absolute;
  top: 50%;
  left: 0;
  gap: 40px;
}

.artist-hero .artist-content .avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 7px 9px 4px rgba(0, 0, 0, 0.35);
}

.artist-hero .follow {
  width: 30%;
  margin: 100px 0 0 0;
}

.artist-hero .follow a {
  padding: 10px 72px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.artist-hero .follow a.follow-btn {
  background-color: transparent;
  border: 1px solid #EE10B0;
  color: #EE10B0;
}

.artist-hero .follow a.follow-btn:hover {
  background-color: #EE10B0;
  color: #fff;
}

.artist-hero .options {
  width: 100px;
  margin: 100px 0 0 0;
}

.artist-hero .artist-content .artist-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.artist-hero .artist-content .artist-info .artist-title {
  font-size: 40px;
  margin-bottom: 26px;
}

.artist-hero .artist-content .artist-info .artist-desc {
  font-size: 20px;
  margin-bottom: 26px;
  line-height: 1.8;
}

.artist-hero .artist-content .artist-info .artist-data {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 20px
}

.artist-hero .artist-content .artist-info .artist-data .artist-data-item {
  text-align: center;
}

/* Action Menu */
.action-menu {
  position: absolute;
  width: 120px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  margin-top: 5px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.action-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action-menu li {
  margin: 5px 0;
}

.action-menu a {
  text-decoration: none;
  color: black;
}

.action-menu a:hover {
  color: blue;
}

/* Footer */
.mt-160 {
  margin-top: 160px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #EE10B0;
}

.footer .about {
  width: 350px;
}

.footer .about h2 {
  font-size: 26px;
}

.footer .about p {
  font-size: 16px;
}

.footer .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 480px;
}

.footer .footer-menu .footer-menu-col {
  width: 140px;
  text-align: center;
}

.footer .footer-menu .footer-menu-col h3 {
  font-size: 24px;
  margin-bottom: 0;
  padding-bottom: 16px;
  border-bottom: 2px solid #fff;
}

.footer .footer-menu .footer-menu-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .footer-menu .footer-menu-col ul li {
  margin-top: 8px;
  padding: 8px;
}

.footer .footer-menu .footer-menu-col ul li:hover {
  color: #EE10B0;
  cursor: pointer;
}

.footer .social-media {
  width: 250px;
  text-align: center;
}

.footer .social-media h1 {
  background: linear-gradient(to right, #EE10B0, #0E9EEF);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
  margin-bottom: 24px;
  margin-top: 0;
}

.footer .social-media .social-media-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .social-media .social-media-icons a {
  padding: 16px;
  font-size: 24px;
  color: #fff;
}

.footer .social-media .social-media-icons a:hover {
  color: #EE10B0;
}